
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    margin: 0 auto;
    background-image: url('Assets/Hero-bg.png');
    background-repeat: repeat-x ;
    background-size: max;
}
nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 25px 250px;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 10px 30px ;
}

    
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 700;
}
.bannner-des{
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    height: 152px;
    width: 905px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 30px 30px 25px 30px;
    
}
.stay{
    display: block;
     text-align: center;
     margin-top: 25px;
}
.empty{
    height: 250px;
}
.see-it{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin: 25px 250px;
    gap: 200px;
}
.see-h3{
    font-size: 42px;
    font-family: 700;
    color: #252432;
}
.img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.see-des{
    font-weight: 400;
    font-size: 24px;
    padding-right: 20px;
}